<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 <bean id = "addr" class = "Address">
      <property name = "city" value = "solapur"/>
         <property name = "state" value = "maharashtra"/>
            <property name = "pincode" value = "413001"/>
   
   </bean>

   <bean id = "std" class = "Student">
     <property name = "stu_id" value = "101"/>
     <property name = "stu_name" value = "shweta"/>
     <property ref="addr" name = "address" />
   
   </bean>
   
   

</beans>